<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login NodeJS</title>
</head>
<body>
    <% if (signupMessage) { %>
        <div style="color: red;"><%= signupMessage %></div>
    <% } %>
    <% if (signinMessage) { %>
        <div style="color: red;"><%= signinMessage %></div>
    <% } %>
    <%- body %>
</body>
</html>